<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Test Page for StudentSheets Model</title>
</head>
<body>

<h2>学生名簿一覧</h2>
<div id="student-sheets"></div>
<h2>新規作成</h2>
<form id="form-post">
    <label for="name-post">Name
        <input type="text" name="name" id="name-post">
    </label>
    <input id="button-post" value="新規作成" type="button">
    {% csrf_token %}
</form>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>


<script>
    function getStudentSheets() {
        const url = "http://localhost/student_sheets";
        $.get(url, null, function (data) {
            $("#student-sheets").text(data);
        })
    }

    $(function () {
        getStudentSheets()
        $("#button-post").click(function () {
            const url = "http://localhost/student_sheets";
            const formData = $("#form-post").serialize();
            $.post(url, formData, function (data) {
                $("#name-post").val('')
                getStudentSheets();
            })
        })

    })
</script>
</body>

</html>